.canvas_container {
  padding: 1em;
}

.canvas_box {
  display: flex;
  width: 100% !important;
  justify-content: center;
  margin-top: -14em;
}
.canvas_img {
  object-fit: cover;
  width: 100% !important;
}
.text_select {
  background-color: white;
  padding: 2em;
  width: 300px;
  box-shadow: 0px 2px 2px #b5b5b5;
  margin-top: 3em;
}
.select {
  width: 80px;
}
.btn_option {
  background-color: white !important;
  height: 100px !important;
  width: 300px !important;
  color: black !important;
}
.option_canvas {
  display: grid;
  margin-top: 2em;
  padding: 15px;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-end; /* Alinea los elementos a la derecha */
  margin-right: 2rem;
  margin-top: 8em;
}

.img_design {
  width: 5rem;
}
.button_option {
  display: grid;
}
.color {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  
}
.container_all_btn {
  display: grid !important;
  gap: 2em !important;
  position: fixed !important;
  top: 80px !important;
}



.drawer_mobile {
  display: none;
}

.close_btn {
  display: none;
}

.color_mobile {
  display: none;
}
@media (max-width: 768px) {
  .container_all_btn {
    display: none !important;
  }
.color_mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  background-color: white;
  padding: 2em;
  width: 300px;
  box-shadow: 0px 2px 2px #b5b5b5;
  margin-top: 3em;
}
  .canvas_box {
    display: flex;
    width: 100% !important;
    justify-content: center;
    margin-top: 0;
  }
  .color {
    display: none;
  }
  .imageContainer {
    display: none;
  }

  .drawer_mobile {
    display: grid;
    margin-top: 5em;
    margin-bottom: 1em;
  }

  .text_select {
     margin-top: 1em;
  }
  .close_btn {
    display: grid;
    text-align: end;
  }
}
